:root {
    --bg-dark: #1e1e1e;
    --bg-panel: #252526;
    --primary: #007acc;
    --text-main: #cccccc;
    --border: #3e3e42;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
    height: 100vh;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    padding: 10px 20px;
    background-color: var(--bg-panel);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    border-top: 1px solid var(--border);
    border-bottom: none;
    height: 80px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.timeline-container {
    height: 150px;
    border-bottom: 1px solid var(--border);
    position: relative;
    background: #111;
}

.playlist-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #1e1e1e;
}